* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Noto Sans KR';
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 90%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 120vh;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.intro {
    width: 100%;
    height: 600px;
    background-image: url('image/bread-2864665_1280.jpg');
    background-size: cover;
    background-position: 0 55%;

    header {
        width: 1280px;
        height: 86px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-bar {
            width: 300px;
            height: 40px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;

            input {
                width: 250px;
                /* height: 100%; */
                background-color: rgba(255, 255, 255, 0.4);
                border: none;
                padding-left: 10px;
                color: black;
            }

            button {
                width: 50px;
                /* height: 100%; */
                border: none;
                background-color: transparent;
                cursor: pointer;
                background-color: #88873C;
                transition: all 0.1s;
                color: #eee;
            }

            button:hover {
                background-color: #61602b;
            }
        }

        img{
            width: 80px;
            justify-content: left;
            cursor: pointer;
        }

        li,
        ul {
            list-style-type: none;
            padding: 0;
            color: white;
        }
        .menu {
            display: flex;
        }
        .menu-item{
            width: 100px;
            text-align: center;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
        }

        .sub-menu{
            background-color: #668b6a;
            text-align: center;
            display: none;
        }

        .menu-item:hover{
            background-color: rgb(69, 239, 160);
        }

        .menu-item:hover .sub-menu{
            display: block;
        }

        .sub-menu li:hover{
            background-color: rgb(43, 150, 90);
        }

    }

    .intro-text {
        color: white;
        padding: 15px 20px;
        text-align: center;
        margin: 230px auto;

        h3 {
            font-size: 100px;
            font-weight: 400;
            margin-bottom: 100px;
        }
    }
}

.amount {
    width: 1280px;
    background-color: white;
    display: flex;
    margin: auto;
    position: relative;
    top: -66px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    li {
        height: 132px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        .amount-text {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .amount-result {
            font-size: 24px;
            font-weight: 500;
        }
    }
}

.service-container {
    text-align: center;

    h2 {
        font-size: 48px;
        font-weight: 500;
        padding-top: 50px;
        margin-bottom: 20px;
    }



    .service {
        width: 1280px;
        margin: 50px auto 100px;
        display: flex;

        img {
            width: 640px;
        }

        div {
            padding: 0 0 0 40px;
            text-align: start;

            h3 {
                font-size: 32px;
                font-weight: 400;
                margin-bottom: 30px;

                span {
                    color: #BA3203;
                    font-weight: bold;
                    font-size: 40px;
                }
            }

            p {
                margin-bottom: 20px;
                font-size: 18px;
                word-break: keep-all;
                line-height: 1.5;
            }
        }
    }
}


footer {
    background-color: #88873C;
    padding: 10px 0;
    color: white;

    div {
        width: 1280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    address {
        font-style: normal;

        p {
            margin: 10px 0;
        }

        a {
            color: white;
        }
    }
}